.form-container {
  text-align: center;
}

input[type="text"] {
  margin: 10px;
  width: 100%;
  height: 50%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: Raleway,sans-serif;
  font-size: 13px;
}

input[type="button"],
input[type="submit"] {
  height: 25px;
  padding-left: 5px;
}

.jobWrapper {
  background: #1d9a85;
  margin-top: 2rem;
  padding: 3%;
  border-radius: 5px;
}
label,
textarea {
  font-size: 15px;
  font-weight: 600;
  /* color: #5d5d5d; */
  letter-spacing: 1px;
}

textarea {
  line-height: 1.5;
  box-shadow: 1px 1px 1px #999;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

select{
    margin: 10px;
    width: 100%;
    height: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: Raleway,sans-serif;
    font-size: 16px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.jobTitle {
  font-size: 16px !important;
  font-style: bold!important;
}

.Errormsg{
  color:red;
}
